# Dependencias
node_modules/
jspm_packages/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno (¡Muy importante!)
.env
.env.local

# Build y archivos temporales
dist/
build/
.DS_Store